body {
  margin: 0;
  background-color: #242A32;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0; /* Pour enlever la marge par défaut du body */
  padding: 0; /* Pour enlever le padding par défaut du body */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

